
.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
  margin-right: 10px;
}

.Display-below {
  height: 500px;
  width: 500px;
}


.Card-header-bg{
  background-color: rgb(255, 255, 255)

}

.Font-helv {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:dodgerblue;
  font-weight: bolder;
  text-overflow:ellipsis;
  overflow: hidden;
}

.Font-nav {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-weight: bolder;
  white-space: initial;
  color:rgb(255, 255, 255);
  background-color:rgb(173, 201, 245)

}


.background {
  background-color: rgb(240, 255, 251);
}


.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding-top:20px;
  margin:0px auto;

  color:floralwhite;
}



address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.box{
  border-radius: 3px;
  border-color: rgb(79, 194, 209);
  border-style:double;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


